.primary-bg {
    background-color: rgb(13, 110, 253); /* Color pastel azul claro */
    border-radius: 10px;       /* Bordes redondeados */
    padding: 20px;             /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}