/* Estilos personalizados */
.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btn-primary {
    background-color: #007bff; /* Azul Bootstrap */
    border-color: #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Azul más oscuro */
    border-color: #004085;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  
  footer {
    background-color: #343a40;
  }
  
  footer .text-white-50 {
    color: rgba(255, 255, 255, 0.5);
  }
  